<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCavTJisbpf8pu9nT-AHgRy9161_zk3qg4</string>
	<key>GCM_SENDER_ID</key>
	<string>474693060083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sup.aver9emax</string>
	<key>PROJECT_ID</key>
	<string>app243-ad0ef</string>
	<key>STORAGE_BUCKET</key>
	<string>app243-ad0ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474693060083:ios:4ffd0fe6c6d5e65fb33e86</string>
</dict>
</plist>